* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    background-color: black;
    text-align: center;
}

.card {
    width: 20%;
    border: 1px solid white;
    box-shadow: 4px 4px 6px blue;
    background: black;
    height: 15vh;
    border-radius: 5px;;
}

.cardbox {
    display: flex;
    justify-content: center;
    width: 75vw;
    margin: 0 auto;
}